<body>
    <table style="width: 100%;">
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i<datalist.length;i++) {%>
            <tr>
                <td>
                    <%= datalist[i].email %>
                </td>
                <td>
                    <%= datalist[i].firstName %>
                </td>
                <td>
                    <%= datalist[i].lastName %>
                </td>
                <td>
                    <%= datalist[i].phone %>
                </td>
                <td>
                    <%= datalist[i].address %>
                </td>
                <td>
                    <a href="/edit-crud>id=<%= datalist[i].id %>" class="btn btn-primary">Edit</a>
                    || <a href="/delete-crud?id=<%= datalist[i].id %>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>